# Dependencies
node_modules

# Build outputs
dist
out
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Electron
electron-vendors.*
