# Dependencies
node_modules

# Build outputs
dist
out
*.tsbuildinfo

# Don't ignore build resources (icons, entitlements, etc.)
# These are needed for electron-builder
!/build
/build/icon.iconset

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Electron
electron-vendors.*
